---
import { pwaInfo } from 'virtual:pwa-info'
import "@fontsource/poppins";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <link rel="icon" type="image/svg+xml" href="/Chat_Head.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="mask-icon" href="/icon.svg" color="#FFFFFF">
    <meta name="theme-color" content="#212129">
    <meta name="generator" content={Astro.generator}>
    <title>{title}</title>
    <meta name="description" content="A simple blog">
    { import.meta.env.HEAD_SCRIPTS && <Fragment set:html={import.meta.env.HEAD_SCRIPTS } /> }
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    { import.meta.env.PROD && pwaInfo && <Fragment set:html={pwaInfo.registerSW.scriptTag} /> }
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --c-bg: #fbfbfb;
    --c-fg: #444444;
    --c-scroll: #d9d9d9;
    --c-scroll-hover: #bbbbbb;
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--c-bg);
    color: var(--c-fg);
  }

  html.dark {
    --c-bg: #111114;
    --c-fg: #ddddf0;
    --c-scroll: #333333;
    --c-scroll-hover: #555555;
  }

  body {
    position: relative; /* Ensure body is the reference point for positioning */
    background: transparent url('/Head_01.png') no-repeat;
    background-position: top left; /* Align image to the top left */
    background-size: contain; /* Set specific size for the background image */
    background-attachment: fixed; /* Keep the background image fixed in place */
    opacity: 1; /* Set the opacity */
  }

  main {
    max-width: 90ch;
    margin: 0 auto;
    padding: 4rem 0rem 4rem;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-scroll-hover);
  }
  ::-webkit-scrollbar-track {
    background-color: #212129;
  }

  .chat-window {
    background-color: #212129; /* Non-transparent background */
    border-radius: 8px; /* Adjust border radius if needed */
    padding: 20px; /* Adjust padding */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Optional: Add some shadow for depth */
    max-width: 90ch;
    margin: 0 auto;
    color: var(--c-fg);
  }

    /* Scrollbar styles specific to the chat window */
    .chat-window::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .chat-window::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(180deg, #5906CB 0%, #F14856 100%) no-repeat padding-box;
    border-radius: 4px;
  }

  .chat-window::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-scroll-hover);
  }

  .chat-window::-webkit-scrollbar-track {
    background-color: var(--c-bg);
  }

  .gradient-button {
    background: transparent linear-gradient(180deg, #5906CB 0%, #F14856 100%) no-repeat padding-box;
    opacity: 1;
    border: none;
    color: white; /* Adjust text color as needed */
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins";
  }

  .gradient-button2 {
    background: transparent linear-gradient(180deg, #5906CB 0%, #F14856 100%) no-repeat padding-box;
    opacity: 1;
    border: none;
    color: white; /* Adjust text color as needed */
    border-radius: 1px;
  }

  .poppins-font {
    font-family: "Poppins";
  }

</style>

<script>
const initTheme = () => {
  const darkSchema
    = window.matchMedia
    && window.matchMedia('(prefers-color-scheme: dark)').matches
  const storageTheme = localStorage.getItem('theme')
  if (storageTheme) {
    document.documentElement.classList.toggle(
      'dark',
      storageTheme === 'dark',
    )
  } else {
    document.documentElement.classList.toggle('dark', darkSchema)
  }
}

initTheme()
</script>
